/* --- ESTILOS PERSONALIZADOS STAR / CIAD --- */

/* 1. Botones de Tarjetas (Dashboard) */
.btn-card-link {
    text-decoration: none;
    display: block;
    transition: transform 0.2s ease;
}

.btn-card-link:hover {
    transform: scale(1.02);
}

.btn-card {
    background-color: #7B113A;
    color: white;
    border-radius: 8px;
}

.card-header {
    background-color: #7B113A;
    color: white;
    border-bottom: none;
}

.card-header h6 {
    color: white !important;
}

.card-header .text-secondary {
    color: white !important;
    text-decoration: underline;
    cursor: pointer;
}


/*CSS PARA LOGIN*/

body.bg-gradient-primary {
    background-color: #691C32 !important;
    background-image: linear-gradient(180deg, #691C32 10%, #4a1122 100%) !important;
    background-size: cover;
    display: flex !important;
    flex-direction: column;
    align-items: center;      /* Centrado vertical */
    justify-content: flex-start;  /* Centrado horizontal */
    min-height: 100vh;        /* Alto total de la pantalla */
    margin: 0;
    padding-top: 5vh
}


.container-login {
    width: 100%;
}


.card-login { 
    overflow: hidden; 
    border: none !important; 
    max-width: 1200px; 
    width: 90%;
    border-radius: 1rem;
}


/* 3. Botones e Inputs del Login */
.btn-primary {
    background-color: #691C32 !important;
    border-color: #691C32 !important;
}

.btn-primary:hover {
    background-color: #4d1425 !important;
    border-color: #4d1425 !important;
}

.form-control-user:focus {
    border-color: #691C32 !important;
    box-shadow: 0 0 0 0.25rem rgba(105, 28, 50, 0.25) !important;
}

.input-narrow {
    max-width: 350px; /* Ajusta este valor si los quieres más o menos anchos */
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}


/* 4. Configuración del Carrusel */
.col-carousel { 
    padding: 0 !important; 
    display: flex; 
}

#loginCarousel { 
    width: 100%; 
    height: 100%; 
}

.carousel-item { 
    height: 100%; 
    width: 100%; 
}

.carousel-bg-img {
    height: 100%;
    width: 100%;
    min-height: 550px; /* Altura mínima para equilibrar con el formulario */
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: #4a1122; /* Color de respaldo */
}


.slide-1 { background-image: url('../img/CIADENTRADA.jpg'); }
.slide-2 { background-image: url('../img/CIADCELEBRA.jpg'); }
.slide-3 { background-image: url('../img/CIADINVESTIGADOR.jpg'); }

.footer-logo {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    opacity: 0.9;
}

.footer-logo img {
    max-width: 220px;
    height: auto;
}